absl-py
antlr4-python3-runtime
cachetools
certifi
charset-normalizer
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
contourpy
cycler
decorator
fonttools
ftfy
google-auth
google-auth-oauthlib
grpcio
idna
imageio
imageio-ffmpeg
importlib-metadata
importlib-resources
kiwisolver
MarkupSafe
matplotlib
moviepy
numpy
oauthlib
omegaconf
packaging
pandas
Pillow
proglog
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
scipy
six
tensorboard
tensorboard-data-server
tqdm
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
zipp
